/*Define as cores padroes do site
  Exemplo de modo de uso
  background-color: var(--dark-blue);
*/
:root {
    --primary-blue: #36454f;
    --dark-blue: #36494f;
    --light-yellow: #263337;
    --light-orange: #ebfaff;
    --white: #FFFFFF;
    --light-gray: #d7f5ff;
    --black: #000000;
    --textBlack: #000000;
    --textGray: #ccc;
    --textWrite: #ffffff;
    --sombra: rgba(0,0,0,0.1)
}


/*
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
NAV BAR


*/

/* Estilos Gerais do Navbar */
nav{
    background-color: var(--primary-blue);
}


.navbar {
    padding: 0 1rem; /* Adiciona um pouco de padding horizontal */
    box-shadow: 0 2px 4px var(--sombra); /* Sombra leve para dar profundidade */
}

/*Logo principal*/
.img-logo {
    height: 80px; /* Ajuste o tamanho do logo conforme necessário */
    vertical-align: middle; /* Alinha verticalmente com os outros itens do navbar */
}

/* Estilos para Links */
.nav-link {
    color: var(--textBlack); /* Cor do texto dos links */
    font-weight: bold; /* Torna o texto mais destacado */
    margin-right: 15px; /* Espaço entre os links */
}

/* Ajustes para centralizar o formulário de busca e o botão de perfil */
.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta o espaçamento entre os elementos */
    flex-grow: 1; /* Cresce para usar o espaço disponível */
}

/* Estilos para o Formulário de Busca */
.form-inline {
    display: flex;
    justify-content: center; /* Centraliza o formulário de busca */
    flex-grow: 1; /* Permite que o formulário cresça e ocupe mais espaço */
    max-width: none; /* Remove qualquer limite de largura máxima */
}

.form-control {
    width:40%; /* Ocupa todo o espaço disponível no formulário */
    margin: 0 5px; /* Ajusta as margens para visualmente espaçar do botão */
    border: 1px solid var(--black); /* Borda para o campo de busca */
}

/*Botão de buscar e */
.btn-outline-success, .btn-outline-primary {
    margin-left: 10px; /* Espaço após o botão de busca para separar do próximo botão */
}


.btn-outline-success:hover, .btn-outline-primary:hover {
    background-color: var(--sombra); /* Cor de fundo do botão ao passar o mouse */

}



.dropdown-menu {
    background-color: var(--white); /* Fundo branco para o dropdown */
    border-color: var(--textGray); /* Borda cinza clara */
}

.dropdown-item {
    color: black; /* Texto preto nos itens do dropdown */
}

.dropdown-item:hover {
    background-color: var(--textGray); /* Fundo cinza claro ao passar o mouse */
}


/* Responsividade */
@media (max-width: 992px) {
    .navbar-collapse {
        flex-direction: column; /* Stack the navbar content vertically on smaller screens */
    }

    .navbar-toggler {
        margin-left: auto; /* Ajusta o botão para o lado direito */
    }

    .form-inline, .btn-outline-primary {
        width: 100%; /* Ajusta a largura para ocupar toda a linha */
        margin-top: 5px; /* Espaço superior para separação clara dos elementos */
    }

    .form-control {
        width: 100%; /* Faz o campo de busca ocupar toda a largura disponível em dispositivos menores */
    }
}









/*
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
BODY


Centraliza o corpo*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1550px;
    margin: 0 auto;
}





  
/*
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
FOOTER
*/

/*Geral */
footer {
    background-color: var(--primary-blue); /* Cor de fundo do rodapé */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px 0; /* Padding superior e inferior para o rodapé */
    box-shadow: 0 2px 4px var(--sombra); /* Sombra leve para dar profundidade */
    width: 100%;
    margin-top: auto; /* Empurra o footer para baixo */
}


/*Logo das Redes Sociais*/
.footer-logo{
    display: flex;
    align-items: center;
    margin-right: 15px; /* Espaço entre logo e menu */
    flex-grow: 0; /* Não cresce, mantendo o tamanho conforme o conteúdo */
}

/*Referente ao logo das redes sociais*/
.footer-ui{
    display: flex;
    justify-content: center;
    list-style: none;
}

/*Logo redes sociais*/
.footer-img-redesSociais {
    height: 30px; /* Ajuste o tamanho do logo conforme necessário */
    vertical-align: middle; /* Alinha verticalmente com os outros itens do navbar */
}

