/*Define as cores padroes do site
  Exemplo de modo de uso
  background-color: var(--dark-blue);
*/
:root {
    --primary-blue: #36454f;
    --dark-blue: #36494f;
    --light-yellow: #263337;
    --light-orange: #ebfaff;
    --white: #FFFFFF;
    --light-gray: #d7f5ff;
    --black: #000000;
    --textBlack: #000000;
    --textGray: #ccc;
    --textWrite: #ffffff;
    --sombra: rgba(0,0,0,0.1)
}


/*
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
NAV BAR


*/

/* Estilos Gerais do Navbar */
nav{
    background-color: var(--primary-blue);
}


.navbar {
    padding: 0 1rem; /* Adiciona um pouco de padding horizontal */
    box-shadow: 0 2px 4px var(--sombra); /* Sombra leve para dar profundidade */
}

/*Logo principal*/
.img-logo {
    height: 80px; /* Ajuste o tamanho do logo conforme necessário */
    vertical-align: middle; /* Alinha verticalmente com os outros itens do navbar */
}

/* Estilos para Links */
.nav-link {
    color: var(--textWrite); /* Cor do texto dos links */
    font-weight: bold; /* Torna o texto mais destacado */
    margin-right: 15px; /* Espaço entre os links */
}

/* Ajustes para centralizar o formulário de busca e o botão de perfil */
.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta o espaçamento entre os elementos */
    flex-grow: 1; /* Cresce para usar o espaço disponível */
}

/* Estilos para o Formulário de Busca */
.form-inline {
    display: flex;
    justify-content: center; /* Centraliza o formulário de busca */
    flex-grow: 1; /* Permite que o formulário cresça e ocupe mais espaço */
    max-width: none; /* Remove qualquer limite de largura máxima */
}

.form-control {
    width:40%; /* Ocupa todo o espaço disponível no formulário */
    margin: 0 5px; /* Ajusta as margens para visualmente espaçar do botão */
    border: 1px solid var(--black); /* Borda para o campo de busca */
}

/*Botão de buscar e perfil */
.btn-outline, .btn-outline {
    margin-left: 10px; /* Espaço após o botão de busca para separar do próximo botão */
    color: var(--textWrite); 
    border-color: var(--textWrite);
}

/*Muda a aparencia do botão ao passar por cima*/
.btn-outline:hover, .btn-outline:hover {
    color: var(--black);
    border-color: var(--white);
    background-color: var(--white);
}

/* dropdown menu*/
.dropdown-menu {
    background-color: var(--white); /* Fundo branco para o dropdown */
    border-color: var(--textGray); /* Borda cinza clara */
}

.dropdown-item {
    color: black; /* Texto preto nos itens do dropdown */
}

.dropdown-item:hover {
    background-color: var(--textGray); /* Fundo cinza claro ao passar o mouse */
}


/* Responsividade */
@media (max-width: 992px) {
    .navbar-collapse {
        flex-direction: column; /* Stack the navbar content vertically on smaller screens */
    }

    .navbar-toggler {
        margin-left: auto; /* Ajusta o botão para o lado direito */
    }

    .form-inline, .btn-outline-primary {
        width: 100%; /* Ajusta a largura para ocupar toda a linha */
        margin-top: 5px; /* Espaço superior para separação clara dos elementos */
    }

    .form-control {
        width: 100%; /* Faz o campo de busca ocupar toda a largura disponível em dispositivos menores */
    }
}









/*
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
BODY


Centraliza o corpo*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1550px;
    margin: 0 auto;
}



/*---------------------------------------
CARD*/
.product-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 220px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.discount-banner {
    background: #ff5722;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-details {
    padding: 15px;
}

.product-details h3 {
    font-size: 18px;
    margin: 10px 0;
}

.old-price {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
}

.new-price {
    color: #e91e63;
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0;
}

.payment-info {
    color: #666;
    font-size: 14px;
}

.btComprar {
    background: #FF6500;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 200;
    padding: 5px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: auto;
    cursor: pointer;
    text-align: center;
 }
 
 .btComprar:hover {
    background: #FF6500;
    font-weight: bold;
    border-radius: 8px;
 }

 .logo_carrinho{
    width: 35px;
    padding-right: 10px;
    padding-bottom: 7px;
 }
/*-----------------------------------*/


  
/*
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
FOOTER
*/

/*Geral */
footer {
    background-color: var(--primary-blue); /* Cor de fundo do rodapé */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px 0; /* Padding superior e inferior para o rodapé */
    box-shadow: 0 2px 4px var(--sombra); /* Sombra leve para dar profundidade */
    width: 100%; /*Largura do footer*/
    margin-top: auto; /* Empurra o footer para baixo */
    color: var(--textWrite);  /*Cor do texto*/
}


/*Logo das Redes Sociais*/
.footer-logo{
    display: flex;
    align-items: center;
    margin-right: 15px; /* Espaço entre logo e menu */
    flex-grow: 0; /* Não cresce, mantendo o tamanho conforme o conteúdo */
}

/*Referente ao logo das redes sociais*/
.footer-ui{
    display: flex;
    justify-content: center;
    list-style: none;
}

/*Logo redes sociais*/
.footer-img-redesSociais {
    height: 30px; /* Ajuste o tamanho do logo conforme necessário */
    vertical-align: middle; /* Alinha verticalmente com os outros itens do navbar */
}





