<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mundo das Telas{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
              <!-- Logo e Toggle Button -->
              <a class="navbar-brand" href="#">
                  <img src="{{ url_for('static', filename='images/logoMundoDasTelas.png') }}" alt="Logo" class="img-logo">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
      
              <!-- Navbar links and search form -->
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Features</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPricing" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Pricing
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownPricing">
                              <a class="dropdown-item" href="#">Basic</a>
                              <a class="dropdown-item" href="#">Premium</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Enterprise</a>
                          </div>
                      </li>
                  </ul>
                  <!-- Search Form -->
                  <form class="form-inline my-2 my-lg-0 mx-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar por produtos, marcas e muito mais..." aria-label="Search" size="40%">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                  </form>
                  <!-- Profile Button -->
                  <button class="btn btn-outline-primary my-2 my-sm-0" type="button">MEU PERFIL</button>
              </div>
          </div>
      </nav>
      
    </header>

    <main>
        {% block content %}
        <!-- O conteúdo específico da página será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 Mundo das Telas. Todos os direitos reservados.</p>
    </footer>

    <!-- Bootstrap JS e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
