<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mundo das Telas{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>


    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <!-- Logo e Toggle Button -->
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='images/logoMundoDasTelas.png') }}" alt="Logo"
                        class="img-logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links and search form -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Coisas de Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Não confunda com base html</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPricing" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                TV
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownPricing">
                                <a class="dropdown-item" href="#">é isso</a>
                                <a class="dropdown-item" href="#">só nomear</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Enterprise</a>
                            </div>
                        </li>
                    </ul>
                    <!-- Meu Perfil -->
                    <button class="btn btn-outline my-2 my-sm-0" type="button">MEU PERFIL</button>
                </div>
            </div>
        </nav>

    </header>

    <main>
        {% block content %}
        <!-- O conteúdo específico da página será inserido aqui -->
        {% endblock %}
    </main>

    




    <footer>
        
 




        <p>© 2024 Mundo das Telas. Todos os direitos reservados.</p>
    </footer>

    <!-- Bootstrap JS e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>