{% extends 'base.html' %}



{% block content %}


<div class="form-container">
    <h2>Carrinho</h2>
    <!-- Main Content -->
    <div class="container">
        <div class="main-content">
            <!-- Produtos e Serviços -->
            <div class="products-services">
                <h2>Produtos no Carrinho</h2>
                <form action="{{ url_for('carrinho.limpar') }}" method="post">
                    <button type="submit" class="remove-all">REMOVER TODOS OS PRODUTOS</button>
                </form>

                {% for produto in produtos %}
                <div class="product">
                    <div class="product-image-estoque">
                        <img src="{{ produto['caminho_imagem'] }}" alt="{{ produto['descricao'] }}">
                    </div>
                    <div class="product-details">
                        <div class="product-info">
                            <p><strong>{{ produto['modelo'] }}</strong></p>
                            <p>Marca: {{ produto['marca'] }}</p>
                            <p>Modelo: {{ produto['modelo'] }}</p>
                            <p>Tamanho: "{{ produto['tamanho'] | default('N/A') }}"</p>
                            <p>Tipo de Iluminação: {{ produto['tipo_iluminacao'] | default('N/A') }}</p>
                            <p>Valor: R$ {{ produto['valor'] | currency_format }}</p>
                            <form action="{{ url_for('carrinho.atualizar_quantidade') }}" method="post">
                                <input type="hidden" name="product_id" value="{{ produto['id'] }}">
                                <button type="submit" name="change_type" value="decrement">-</button>
                                <input type="text" name="quantity" readonly value="{{ produto['quantidade'] }}" size="3">
                                <button type="submit" name="change_type" value="increment">+</button>
                            </form>
                            
                        </div>
                        <div class="product-actions">
                            <!-- Botões ou ações podem ser adicionados aqui -->
                        </div>
                    </div>
                </div>
                {% endfor %}
                


        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Resumo -->
        <div class="summary">
            <h2>RESUMO</h2>
            <p>Valor dos Produtos: <span>R$ 00,00</span></p>
            <p>Frete: <span>R$ 00,00</span></p>
            <p>Valor Total: <span class="price-pix">R$ 00,00</span></p>
        </div>
        <div class="divider"></div>
        <!-- Entrega -->
        <div class="delivery">
            <h2>ENTREGA</h2>
            <p>.</p>
        </div>

        <div class="divider"></div>
        <!-- Buttons -->
        <div class="buttons">

            <button class="payment">Ir Para o Pagamento</button></a>

            <button class="continue">Continuar Comprando</button>
        </div>
    </div>
</div>






<script src="{{ url_for('static', filename='script/script.js') }}">





</script>
{% endblock %}