{% extends 'base_admin.html' %}

{% block content %}
<div class="form-container">
    <h2>Carrinho</h2>


    <!-- Main Content -->
    <div class="container">
        <div class="main-content">
            <!-- Produtos e Serviços -->
            <div class="products-services">
                <h2>Produtos no Carrinho</h2>
                <button class="remove-all">REMOVER TODOS OS PRODUTOS</button>
                <div class="product">
                    <img src="placa_video.png" alt="Placa de Vídeo">
                    <div class="product-details">
                        <div class="product-info">
                            <p><strong>Samsung</strong></p>
                            <p>Notebook Samsung Galaxy Book2 Intel Core i5-1235U, 8GB RAM, SSD 256GB, 15.6" Full HD,
                                Windows 11 Home, Grafite</p>
                        </div>
                        <div class="product-actions">
                            <span class="price-pix">Preço: <strong>R$ 2.519,10</strong></span>
                            <div class="quantity">
                                <button id="lower" onclick="addEventListener()">-</button>
                                <input type="text" value="1" id="quantity">
                                <button id="more" onclick="addEventListener()">+</button>
                            </div>
                            <button class="remove">REMOVER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Resumo -->
            <div class="summary">
                <h2>RESUMO</h2>
                <p>Valor dos Produtos: <span>R$ 4.728,40</span></p>
                <p>Frete: <span>R$ 10,00</span></p>
                <p>Valor Total: <span class="price-pix">R$ 4.159,09</span></p>
            </div>
            <div class="divider"></div>
            <!-- Entrega -->
            <div class="delivery">
                <h2>ENTREGA</h2>
                <p>Portão cinza, Avenida Pacaembu, Número 432, CEP 13222000 - Várzea Paulista, SP.</p>
                <button class="select-other">Selecione Outro Endereço</button>

            </div>

            <div class="divider"></div>
            <!-- Buttons -->
            <div class="buttons">
                <button class="payment">Ir Para o Pagamento</button>
                <button class="continue">Continuar Comprando</button>
            </div>
        </div>
    </div>






    <script src="{{ url_for('static', filename='script/script.js') }}">

        



    </script>
    {% endblock %}