{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h2>Pagamento</h2>


    <!-- Main Content -->
    <div class="container">
        <div class="main-content">
            <!-- Produtos e Serviços -->
            <div class="products-services">
                <h2>Escanei Para Pagar</h2>
                <div class="">
                    <div class="scan-pagamento">
                        <img src="{{ url_for('static', filename='images/scan.png') }}" alt="Logo">
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Resumo -->
            <div class="summary">
                <h3>Valor da Compra</h3>
                <p>Valor Total: <span class="price-pix">R$ 4.159,09</span></p>
            </div>
            <div class="divider"></div>

        </div>
    </div>






    <script src="{{ url_for('static', filename='script/script.js') }}">





    </script>
    {% endblock %}