{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h2>Carrinho</h2>


    <!-- Main Content -->
    <div class="container">
        <div class="main-content">
            <!-- Produtos e Serviços -->
            <div class="products-services">
                <h2>Forma de Pagamento</h2>
                <div class="product">
                    <input type="radio">
                    <div class="product-details">
                        
                            <strong>PIX</strong>

                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Resumo -->
            <div class="summary">
                <h3>Valor da Compra</h3>
                <p>Valor Total: <span class="price-pix">R$ 4.159,09</span></p>
            </div>
            <div class="divider"></div>
            
            <!-- Buttons -->
            <div class="buttons">
                <button class="payment">Ir Para o Pagamento</button>
                <button class="continue">Voltar</button>
            </div>
        </div>
    </div>






    <script src="{{ url_for('static', filename='script/script.js') }}">

        



    </script>
    {% endblock %}