{% extends 'base_admin.html' %}

{% block content %}
<div class="form-container">
    <h2>Consulta de Estoque</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Tipo de Iluminação</th>
                <th scope="col">Valor</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Lançar Entrada</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                <td>LG</td>
                <td>PS2</td>
                <td>14"</td>
                <td>LED</td>
                <td>R$ 900,00</td>
                <td>20</td>
                <td>LG</td>
                <td>
                    <div class="container-btn-atualizar">
                       <a href="{{ url_for('produto.cadastro_estoque') }}">
                        <button type="button" class="btn-atualizar">Lançar Entrada</button></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
