{% extends 'base_admin.html' %}



{% block content %}


<div class="form-container">
    <h2>Entrada de Estoque</h2>


    <div class="container">
        <div class="entrada-estoque-cartao">
            <div class="products-services">
                <h2>Produto</h2>
                <div class="product">
                    <div class="product-image">
                        <img src="https://mundodastelas.s3.us-east-2.amazonaws.com/Monitor_LG_34Pol_Gamer_Curvo.jpg">
                    </div>
                    
                    <div class="product-details">
                        <div class="product-info">
                            <p><strong>LG</strong></p>
                            <p>Marca: LG
                                Modelo: PS2
                                Tamanho: 14"
                                Tipo de Iluminação: LED
                                Valor: R$ 900,00</p>
                        </div>
                        <div class="product-actions">
                            <div class="quantity">
                                <button id="lower" onclick="addEventListener()">-</button>
                                <input type="text" value="20" id="quantity">
                                <button id="more" onclick="addEventListener()">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="container-btn-cadastrar">
        <button type="submit" class="btn-cadastrar">Atualizar Estoque</button>
    </div>





    <script src="{{ url_for('static', filename='script/script.js') }}">

        



    </script>
    {% endblock %}