{% extends 'base_admin.html' %}

{% block content %}
<div class="form-container">
    <h2>Atualização de Fornecedor</h2>
    <form action="#" method="post" enctype="multipart/form-data">
        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="fornecedor" name="fornecedor" required placeholder=" " maxlength="250">
                <label for="fornecedor">Empresa</label>
            </div>
            <div class="form-group">
                <input type="text" id="representante" name="representante" required placeholder=" " maxlength="250">
                <label for="representante">Representante</label>
            </div>
        </div>
        <div class="form-group-half">
            <div class="form-group">
                <input type="tel" id="telefone_representante" name="telefone_representante" maxlength="15 "
                    placeholder=" " onkeyup="handlePhone(event)" required>
                <label for="telefone_representante">Telefone do Representante</label>
            </div>
            <div class="form-group">
                <input type="text" id="cnpj" name="cnpj" placeholder=" ">
                <label for="cnpj">CNPJ</label>
            </div>
        </div>
        <div class="divider"></div>

        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="cep" name="cep" maxlength="9" required placeholder=" "
                    onkeyup="handleCEP(event)">
                <label for="cep">CEP</label>
            </div>
            <div class="form-group">
                <input type="text" id="logradouro" name="logradouro" maxlength="250" required placeholder=" ">
                <label for="logradouro">Logradouro</label>
            </div>
        </div>

        <div class="form-group-half">
            <div class="form-group">
                <input type="number" id="numero" name="numero" required placeholder=" ">
                <label for="numero">Número</label>
            </div>
            <div class="form-group">
                <input type="text" id="bairro" name="bairro" maxlength="250" required placeholder=" ">
                <label for="bairro">Bairro</label>
            </div>
        </div>

        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="complemento" name="complemento" maxlength="250" placeholder=" ">
                <label for="complemento">Complemento</label>
            </div>
            <div class="form-group">
                <input type="text" id="estado" name="estado" maxlength="2" required placeholder=" ">
                <label for="estado">Estado</label>
            </div>
        </div>

        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="cidade" name="cidade" maxlength="250" required placeholder=" ">
                <label for="cidade">Cidade</label>
            </div>
            <div class="form-group">
                <input type="text" id="telefone" name="telefone" maxlength="15" required placeholder=" "
                    onkeyup="handlePhone(event)">
                <label for="telefone">Telefone</label>
            </div>
        </div>


        <div class="container-btn-cadastrar">
            <button type="submit" class="btn-cadastrar">Atualizar</button>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='script/script.js') }}"></script>
<script>
    document.getElementById('cnpj').addEventListener('input', function (e) {
        var value = e.target.value;
        var rawValue = value.replace(/\D/g, ''); // Remove tudo que não é número

        // Verifica se o CNPJ tem 15 dígitos e se o primeiro dígito é '0'
        if (rawValue.length === 15 && rawValue.startsWith('0')) {
            // Verifica se, ao remover o '0', o restante é um CNPJ válido
            var potentialCNPJ = rawValue.substring(1);
            // Atualiza rawValue para o CNPJ sem o '0' inicial
            if (validaCNPJ(potentialCNPJ)) rawValue = potentialCNPJ;
        }

        var cnpjPattern = rawValue
            .replace(/^(\d{2})(\d)/, '$1.$2') // Adiciona ponto após o segundo dígito
            .replace(/^(\d{2})\.(\d{3})(\d)/, '$1.$2.$3') // Adiciona ponto após o quinto dígito
            .replace(/\.(\d{3})(\d)/, '.$1/$2') // Adiciona barra após o oitavo dígito
            .replace(/(\d{4})(\d)/, '$1-$2') // Adiciona traço após o décimo segundo dígito
            .replace(/(-\d{2})\d+?$/, '$1'); // Impede a entrada de mais de 14 dígitos
        e.target.value = cnpjPattern;
    });
</script>


{% endblock %}