{% extends 'base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
<div class="countainerCards">
  {% for produto in produtos %} <!-- AQUI INICIA O LOOP DE PRODUTOS EM CARD -->
  <div class="product-card">
    <div class="product-image">
      <img src="{{ produto['caminho_imagem'] }}" alt="{{ produto['descricao'] }}">
    </div>
    <div class="product-details">
      <h3>{{ produto['marca'] }} {{ produto['modelo'] }}</h3>
      <p class="old-price">R$ 1.200,00 <!-- Valor fictício, ajustar conforme necessário --></p>
      <p class="new-price">R$ {{ "{:,.2f}".format(produto['valor']) }}</p>
      <p class="payment-info">À vista no PIX</p>
      <div class="btComprar">
        <span>
          <img src="{{ url_for('static', filename='images/WhiteisMan.svg') }}" alt="logo_carrinho" class="logo_carrinho">
          <strong>COMPRAR</strong>
        </span>
      </div>
    </div>
  </div>
  {% endfor %} <!-- AQUI FECHA O LOOP DE PRODUTOS EM CARD -->
</div>
{% endblock %} <!-- AQUI FECHA O BODY-->
