{% extends 'base_admin.html' %}

{% block content %}
<div class="form-container">
    <h2>Cadastro de Produto</h2>
    <form action="/produtos/cadastro" method="post" enctype="multipart/form-data">
        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="marca" name="marca" required placeholder=" ">
                <label for="marca">Marca</label>
            </div>
            <div class="form-group">
                <input type="text" id="modelo" name="modelo" required placeholder=" ">
                <label for="modelo">Modelo</label>
            </div>
        </div>
        <div class="form-group-half">
            <div class="form-group">
                <input type="number" step="0.01" id="tamanho_tela" name="tamanho_tela" required placeholder=" ">
                <label for="tamanho_tela">Tamanho da Tela</label>
            </div>
            <div class="form-group">
                <input type="text" id="tipo_iluminacao" name="tipo_iluminacao" placeholder=" ">
                <label for="tipo_iluminacao">Tipo de Iluminação</label>
            </div>
        </div>
        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="proporcao" name="proporcao" placeholder=" ">
                <label for="proporcao">Proporção</label>
            </div>
            <div class="form-group">
                <input type="text" id="taxa_contraste" name="taxa_contraste" placeholder=" ">
                <label for="taxa_contraste">Taxa de Contraste</label>
            </div>
        </div>
        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="tempo_resposta" name="tempo_resposta" placeholder=" ">
                <label for="tempo_resposta">Tempo de Resposta</label>
            </div>
            <div class="form-group">
                <input type="text" id="interfase_saida" name="interfase_saida" placeholder=" ">
                <label for="interfase_saida">Interface de Saída</label>
            </div>
        </div>
        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="cor" name="cor" placeholder=" ">
                <label for="cor">Cor</label>
            </div>
            <div class="form-group">
                <input type="text" id="brilho" name="brilho" placeholder=" ">
                <label for="brilho">Brilho</label>
            </div>
        </div>
        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="resolucao_maxima" name="resolucao_maxima" placeholder=" ">
                <label for="resolucao_maxima">Resolução Máxima</label>
            </div>
            <div class="form-group">
                <input type="text" id="taxa_atualizacao" name="taxa_atualizacao" placeholder=" ">
                <label for="taxa_atualizacao">Taxa de Atualização</label>
            </div>
        </div>
        <div class="form-group-half">
            <div class="form-group">
                <textarea id="descricao" name="descricao" rows="4" placeholder=" "></textarea>
                <label for="descricao">Descrição</label>
            </div>
            <div class="form-group">
                <input type="file" id="caminho_imagem" name="caminho_imagem" placeholder=" ">
                <label for="caminho_imagem">Imagem</label>
            </div>
        </div>
        <div class="form-group-half">
            <div class="form-group">
                <input type="number" step="0.01" id="valor" name="valor" required placeholder=" " onKeyPress="return(MascaraMoeda(this,'.',',',event))">
                <label for="valor">Valor</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="monitor" name="monitor">
                <label for="monitor">Informe se é Monitor</label>
            </div>
        </div>
        <div class="container-btn-cadastrar">
            <button type="submit" class="btn-cadastrar">Cadastrar</button>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='script/script.js') }}"></script>
{% endblock %}