{% extends 'base.html' %}

{% block title %}Mundo das Telas | Nova Conta{% endblock %}

{% block content %}
<div class="form-container">
    <h2>CRIAR CONTA</h2>
    <form id="cadastroForm" method="POST" action="{{ url_for('acesso.usuario_cadastro') }}">
        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="nome" name="nome" maxlength="250" required placeholder=" ">
                <label for="nome">Nome</label>
                <span id="cpfFeedback" class="feedback"></span>
            </div>
            <div class="form-group">
                <input type="text" id="sobrenome" name="sobrenome" maxlength="250" required placeholder=" ">
                <label for="sobrenome">Sobrenome</label>
            </div>
        </div>

        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="cpf" name="cpf" maxlength="14" required placeholder=" "
                    onkeyup="handleCPF(event)" onblur="validarCPF()">
                <label for="cpfcnpj">CPF</label>
            </div>
            <div class="form-group">
                <input type="text" id="rg" name="rg" maxlength="16" placeholder=" " onkeyup="handleRG(event)">
                <label for="rg">RG</label>
            </div>
        </div>

        <div class="form-group-half">
            <div class="form-group">
                <input type="email" id="email" name="email" maxlength="250" required placeholder=" ">
                <label for="email">Email</label>
            </div>
            <div class="form-group">
                <input type="password" id="senha" name="senha" maxlength="250" required placeholder=" ">
                <label for="senha">Senha</label>
                <div id="icon" onclick="myFunction()"></div>
            </div>
        </div>
        <div class="divider"></div>

        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="cep" name="cep" maxlength="9" required placeholder=" "
                    onkeyup="handleCEP(event)">
                <label for="cep">CEP</label>
            </div>
            <div class="form-group">
                <input type="text" id="logradouro" name="logradouro" maxlength="250" required placeholder=" ">
                <label for="logradouro">Logradouro</label>
            </div>
        </div>

        <div class="form-group-half">
            <div class="form-group">
                <input type="number" id="numero" name="numero" required placeholder=" ">
                <label for="numero">Número</label>
            </div>
            <div class="form-group">
                <input type="text" id="bairro" name="bairro" maxlength="250" required placeholder=" ">
                <label for="bairro">Bairro</label>
            </div>
        </div>

        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="complemento" name="complemento" maxlength="250" placeholder=" ">
                <label for="complemento">Complemento</label>
            </div>
            <div class="form-group">
                <input type="text" id="estado" name="estado" maxlength="2" required placeholder=" ">
                <label for="estado">Estado</label>
            </div>
        </div>

        <div class="form-group-half">
            <div class="form-group">
                <input type="text" id="cidade" name="cidade" maxlength="250" required placeholder=" ">
                <label for="cidade">Cidade</label>
            </div>
            <div class="form-group">
                <input type="text" id="telefone" name="telefone" maxlength="15" required placeholder=" "
                    onkeyup="handlePhone(event)">
                <label for="telefone">Telefone</label>
            </div>
        </div>

        <div class="container-btn-cadastrar">
            <button type="submit" class="btn-cadastrar">Cadastrar</button>
        </div>
    </form>
    <!-- Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Aviso - Cadastro de Usuário</h5>
                </div>
                <div class="modal-body">
                    <!-- A mensagem de erro será inserida aqui -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script/script.js') }}">
    </script>
    {% endblock %}